.frcc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fccc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fccs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fcss {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.fcce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.frbc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.frss {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.frsc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.frec {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}